/* $Catalogue
--------------------------
/* $header */
/* -------------------------- */
/* $wrapper */
/* -------------------------- */
/* $content animate */
/* -------------------------- */
/* $section2 */
/* -------------------------- */
/* $header */
/* -------------------------- */



*{
     position: relative;
    
   
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.gototop{
   
    position: fixed;
    height: 50px;
    width: 50px;
    cursor: pointer;
    right: 15px;
    bottom: 2%;
    z-index: 1;
    transition: all 1s;
    cursor: pointer;
    display: none;
    background-color:aliceblue;
    border-radius: 50%;
}
.gototop i{
   font-size: 50px; 
   color: blue;
}
.scrollTop:hover{
    bottom: 9%;
}

/* $header */
.top{
    max-width: 1500px;
    margin: 0 auto;
   
}
header{
    padding: 0 20px;
    display: flex;
    background-color: transparent;
}


.logo img{
    height: 50px;
    width: 50px;
    margin-top: 15px;
}
.menu{
    
    margin-left: auto;    
    
}
.menu ul{
    display: flex;
    margin-top: 25px;
}
.menu li{
    font-weight:bold;
    padding-left: 30px;
    font-size: 18px;
    
}

.menu a{
    color: #2d2d2d;
}
.menu_425icon{
    margin-top: 18px;
    margin-left: auto;
    visibility: hidden;
}
.menu_425icon a{
    font-size: 30px;
        
    color: blue;
}
.cross_icon{
    visibility: hidden;
}

@media(max-width:425px){
    .menu {
        display: none;
        /* display: flex; */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #3a3a3a;
        z-index: 1;
        margin-left: 0;
        
        
    }
    .menu ul{
        display: block;
        

    }
    .menu .meanu_item{
        display: flex;
        color: white;
        flex-direction:column;
        align-items:center;
        margin-top: 60px;;
        font-size: 35px;
        
    }
    #popup:target{
        display: block;
    }
    .cross_icon{
        margin-top: 20px;
        right: -90%;
        font-size: 35px;
        color: aliceblue;
        justify-content:flex-end;
        visibility: visible;
    }
  
    .menu_425icon{
    visibility: visible ;
    }

}

/* $wrapper */
.wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../images/struckaxiom/struckaxiom.png);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid green; */
    
}

/* common setting */
.content , .news , .about , .service ,.contect{
    height: 100vh;
    margin-top: 20px;
    position: relative;
    /* border: 2px solid orange; */
    overflow: hidden;
}
.top_left , .down_right ,.down_left{
    position: absolute;
    font-size: 200px;
    font-family: 'Bungee', cursive;
    color: blue;
    opacity: 0.2;
    
}
.top_left{
    top:30px;
}
.down_right{
    right: 0;
    bottom: 30px;
}
.down_left{
     
    bottom: 30px;
}
@media(max-width:425px){
    .top_left , .down_right ,.down_left{
        display: none;
    }
}
h1{
    font-size: 65px;
    color: blue;
}
p{
    font-size: 18px;
}

/* $content */


.content_pic{
    position: relative;
    border: 8px solid blue;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    animation: from_left 1s backwards ;
    
}
@media (max-width:1440px){
    .content_pic{
        width: 70%;
        height: 400px;
    }
}
@media (max-width:414px){
    .content_pic{
        width: 100%;
        height: 500px;
    }
}
.content_pic .imge{
    background-image: url(../images/taipei02.jpg);
    position: absolute;
    width: 100%;
    height: 600px;
    top: 20px;
    left: 40px;
    background-position: center center;
    /* border: 2px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    animation: fade 2s forwards;
}
@media (max-width:1440px){
    .content_pic .imge{
        width: 90%;
        height: 500px;
    }
}
@media (max-width:414px){
    .content_pic .imge{
        width: 100%;
        height: 500px;
        top: -50px;
        left: 0px;
    }
}
.content_text{
    position: absolute;
    background-color: blue;
    padding: 10px 50px;
    bottom: 50px;
    right: -35px;
    transform: skewX(-20deg);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: aliceblue;
    
    
}
@media (max-width:414px){
    .content_text{
        bottom: 30px;
        right: 25px;
    }
}
@media (max-width:375px){
    .content_text{
        font-size: 30px;
        bottom: 30px;
        right: 25px;
    }
}
.content_icon{
    position: absolute;   
    font-size: 60px;
    color: #2d2d2d;
    bottom: -250px;
    left: 50%;
    transform:translateX(-50%);
    animation-name: infinity ;
    animation-delay:.5s;
    animation-iteration-count:infinite;
    animation-duration:1s;
    cursor: pointer;
}

@media (max-width:1440px){
    .content_icon{
        bottom: -200px;
    }
}

@media (max-width:414px){
    .content_icon{
        bottom: -110px;
    }
}

@media (max-width:375px){
    .content_icon{
        bottom: -60px;
    }
}

/* $content animate */

@keyframes fade {
    0%{
        opacity: 0;
        width: 150%;
    }
    
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes from_left{
     0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes from_right{
     0%{
        opacity: 0;
        transform: translateX(100px);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes infinity{
     0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* news */

.news{
    position: relative;
    height: 100vh;
}
.news_title{
    transform: translateX(-100px);
    transition: all 2.5s; 
    opacity: 0;
}
.news_title_animation{
    opacity: 1;
    transform: translateX(0px); 
}

.news_box{
    margin-top: 10px;
    border: 2px solid #2d2d2d;
    width: 80%;
    left: 10%;
    overflow: auto;
    transform: translateX(100px);
    transition: all 2.5s; 
    opacity: 0;    
}
.news_box_animation{
    opacity: 1;
    transform: translateX(0px); 
}

@media (min-width:1024px){
    .news_box{
        margin-top: 10vh;
    }
}
@media (max-width:425px){
    .news_box{
        height: 600px;
        width: 100%;
        left: 0%;
    }
}
@media (max-width:375px){
    .news_box{
        height: 700px;
        width: 100%;
        left: 0%;
    }
}
@media (max-width:320px){
    .news_box{
        height: 500px;
        width: 100%;
        left: 0%;
    }
}
.news_all{
    font-size: 18px;
    margin: 10px;
    line-height: 30px;
}
.news_all span{
    font-size: 18px;
    background-color: blue;
    color: aliceblue;
    padding: 0 10px;
    margin: 0 10px;
   
}

/* $about */
.skew_right{
    position: absolute;
    right: -5%;
    height: 50%;
    padding: 0px 600px;
    background-color: blue;
    bottom: 25%; 
    transform: skew(-20deg) translateX(100px);
    transition: all 2s; 
    opacity: 0;
}
.skew_right_animation{
    opacity: 1;
    transform: skew(-20deg) translateX(0px); 
}

.skew_right_vido{
    position: absolute;
    right: -5%;;
    height: 50%;
    width: 700px; 
    bottom: 25%; 
    transform: skew(-20deg);
    /* border: red 2px solid; */
    overflow: hidden;
    transform: skew(-20deg) translateX(100px);
    transition: 2s all ; 
    opacity: 0;
}
.skew_right_vido_ani{
    transform: skew(-20deg) translateX(0px);
    opacity: 1;
}

.skew_right_vido video{
   transform: scale(1.3) skew(20deg);
  
}
.blue_mask{
     position: absolute;
    right: -5%;;
    height: 50%;
    width: 700px;
    background: blue;
    bottom: 25%; 
    transform: skew(-20deg);
    opacity: .8;
    z-index: 2;
    transform: scale(2.5);
    overflow: hidden;
}
@media (max-width:1440px){
    .skew_right{
    right: -20%;   
    }
    .skew_right_vido{
    right: -15%;    
    }
}
@media (max-width:1240px){
    .skew_right{
     padding: 0px 500px;  
    }
    .skew_right_vido{
    right: -15%;    
    }
}
@media (max-width:768px){
    .skew_right{
     padding: 0px 0px;  
    }
    .skew_right_vido{
     
     right: -15%;
     bottom: 6%;     
    }
    
}
@media (max-width:425px){
    .skew_right_vido{
    right: -90%;
        
    }
    
}
@media (max-width:411px){
    .skew_right_vido{
    right: -90%;
         
    }
   
}
.about_title{
    top: 20%;
    color: blue;
    transform: translateX(-100px);
    transition: all 2.5s; 
    opacity: 0;
}
.about_title_animation{
    opacity: 1;
    transform: translateX(0px); 
}
.about_text{
  position: absolute;
  right: 30%;
  color: aliceblue;
  top: 35%;
  transform: translateX(-100px);
  transition: all 2.5s .5s; 
  opacity: 0;
}
.about_text_animation{
    opacity: 1;
    transform: translateX(0px); 
}
.about_text p{
    margin: 20px;
    right: 10px;;
}

@media (max-width:768px){
    .about_text{
  position: absolute;
  right: 20%;
  color: aliceblue;
  top: 50%;

    }
}
@media (max-width:425px){
    .about_title{
    top: 0%;
   
    
}
    .about_text{
 
  right: -5%;
  
  top: -50%;

    }
}
@media (max-width:425px){
    .about_title{
    top: 0%;
    
    
}
    .about_text{
    right: -5%;
     top: 50%;

    }
}

/* $service */
.skew_left{
    position: absolute;
    left: -10%;
    height: 50%;
    padding: 0px 800px;
    background-color: blue;
    bottom: 25%; 
    transform: skew(20deg) translateX(-100px);
    transition: all 2.5s; 
    opacity: 0;
}
.skew_left_animation{
    opacity: 1;
    transform: skew(20deg) translateX(0px);
}
.skew_left_pic{
    position: absolute;
    left: 50%;
    height: 50%;
    padding: 0px 250px;
    /* background-color: blue; */
    bottom: 35%; 
    
    /* 1
     */
    overflow: hidden;
    transform:skew(20deg) translateX(-100px);
    transition: all 2.5s .5s; 
    opacity: 0;
}
.skew_left_pic_animation{
    transform: skew(20deg) translateX(0px);
    opacity: 1;
}
.left_pic{
    position: absolute;
    left: -20%;
    bottom: -50%;
    height: 600px;
    width: 600px;
    background-image: url(../images/plan.jpg);
    background-size: contain;
    transform: skew(-20deg) scale(1.5);
    background-repeat: no-repeat;
}
.left_pic::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: blue;
    opacity: .4;
}
@media (max-width:1240px){
    .skew_left{
        padding: 0 600px;
    }
}
@media (max-width:768px){
    .skew_left_pic{
   
    left: 55%;
    height: 35%;
    padding: 0px 180px;
    /* background-color: blue; */
    bottom: 35%; 
    transform: skew(20deg);
    /* border: 2px red solid; */
    overflow: hidden;
    }
    
    .skew_left{
       padding: 0px 370px; 
       bottom: 15%;  
    }
    .skew_left_pic{
        bottom: 50%;
        left: 45%; 
    }
    
}

@media (max-width:425px){
    .skew_left_pic{
   
    left: 15%;
    height: 35%;
    padding: 0px 180px;
    /* background-color: blue; */
    bottom: 5%; 
    transform: skew(20deg);
    /* border: 2px red solid; */
    overflow: hidden;
    }
    
    .skew_left{
       padding: 0px 230px; 
       bottom: 30%; 
        left: -20%; 
    }
    .left_pic{
    position: absolute;
    left: -50%;
    bottom: -140%;
    transform: skew(-20deg) scale(1);
    background-repeat: no-repeat;
    }
   
    
}
@media (max-width:375px){
     .skew_left_pic{
   
    left: 0%;
    height: 35%;
    padding: 0px 180px;
    /* background-color: blue; */
    bottom: 5%; 
    transform: skew(20deg);
    /* border: 2px red solid; */
    overflow: hidden;
}
    
    .skew_left{
       padding: 0px 230px; 
       bottom: 30%; 
        left: -20%; 
    }
    .left_pic{
    position: absolute;
    left: -50%;
    bottom: -150%;
    transform: skew(-20deg) scale(1);
    background-repeat: no-repeat;
    }
   
}


.service_text{
    position: relative;
    width: 100%;
    height: 100vh;
     /* border: 2px red solid; */
     top: 13%;
     transform: translateX(100px);
    transition: all 2.5s; 
    opacity: 0;
}
.service_text_animation{
    opacity: 1;
    transform: translateX(0px); 
}
.service_text h1{
    color: blue;
}
.service_text ul{
    list-style: square;
    list-style-position:inside;
}

.service_text li{
    padding-top: 30px;
    font-size: 20px;
    color: aliceblue;
}
@media (max-width:1240px){
    .service_text{
        top: 11%;
    }
}
@media (max-width:768px){
    .service_text{
        top: 20%;
    }
}
@media (max-width:425px){
    .service_text{
        top: 3%;
    }
    .service_text li{
    padding-top: 20px;
    font-size: 15px;
    color: aliceblue;
    }
}
@media (max-width:375px){
    .service_text{
        top: 2%;
    }
    .service_text li{
    padding-top: 20px;
    font-size: 15px;
    color: aliceblue;
    }
}

/* $contect */

.skew_right_contect{
    position: absolute;
    right: -5%;
    height: 50%;
    padding: 0px 600px;
    background-color: blue;
    bottom: 25%; 
    transform:  translateX(100px) skew(-20deg);
    transition: all 2.5s; 
    opacity: 0;
}
.skew_right_contect_ani{
    opacity: 1;
    transform: translateX(0px) skew(-20deg); 
}
.skew_right_map{
   position: absolute;
    left: 25%;
    height: 50%;
    width: 500px;
    /* background-color: blue; */
    bottom: 35%; 
    transform:translateX(-100px) skew(-20deg);
    border: 8px blue solid;
    overflow: hidden;
    transition: all 2s; 
    opacity: 0;
}
.skew_right_map_ani{
    opacity: 1;
    transform: translateX(0px) skew(-20deg); 
}

.map{
    position: absolute;
    left: -60%;
    transform: skew(20deg) ;
}
.contect_text{
    transform: translateX(-100px);
    transition: all 2.5s .5s; 
    opacity: 0; 
}
.contect_text h1{
    position: absolute;
    right: 12%;
    top: 120px;
    color: blue;
     
}
.contect_text ul{
    padding-top: 8%;
    position: absolute;
    right: 0;
    top: 250px;
    font-size: 20px;
    color: aliceblue;
    
}
.contect_text_animation{
    opacity: 1;
    transform: translateX(0px); 
}
.contect_text li{
    padding-top: 20px;
}
@media (max-width:1440px){
    .contect_text h1{
   
    right: 10%;
    top: 80px;
    
    }
    .contect_text ul{
    padding-top: 8%;
    position: absolute;
    right: 0;
    top: 200px;
    font-size: 20px;
    color: aliceblue;
    
    }
}
@media (max-width:1240px){
    .skew_right_map{
 
    left: 5%;
    height: 50%;
    width: 400px;
    /* background-color: blue; */
    bottom: 35%; 
    
    
    }
}
@media (max-width:1024px){
    .skew_right_map{
 
    left: 5%;
    height: 50%;
    width: 400px;
    /* background-color: blue; */
    bottom: 35%; 
    
    
    }
    .contect_text h1{
   
    right: 15%;
    top: 80px;
    
    }
    

}
@media (max-width:768px){
    
    .skew_right_contect{
    position: absolute;
    right: -15%;
    height: 50%;
    padding: 0px 400px
    }
    .skew_right_map{
   position: absolute;
    left:-5%;
    height: 40%;
    width: 400px;
    /* background-color: blue; */
    bottom: 35%; 
    transform: skew(-20deg);
    border: 8px blue solid;
    overflow: hidden;
    }
    .map{
        left: -80%;
    }
    .contect_text h1{
    right: 15%;
    top: 80px;
    
    }
    .contect_text ul{
    padding-top: 8%;
    position: absolute;
    right: 0;
    top: 250px;
    font-size: 18px;
    
    
    }
}
@media (max-width:425px){
    
    .skew_right_contect{
    position: absolute;
    right: -15%;
    height: 50%;
    padding: 0px 250px
    }
    .skew_right_map{
   position: absolute;
    left:-5%;
    height: 40%;
    width: 400px;
    /* background-color: blue; */
    bottom: 0%; 
    transform: skew(-20deg);
    border: 8px blue solid;
    overflow: hidden;
    }
    .map{
        left: -80%;
    }
    .contect_text h1{
    right: 15%;
    top: 40px;
    
    }
    .contect_text ul{
    padding-top: 8%;
    position: absolute;
    right: 0;
    top: 170px;
    font-size: 18px;
    
    
    }
}
@media (max-width:375px){
    .skew_right_contect{
    position: absolute;
    right: -15%;
    height: 50%;
    padding: 0px 230px
    }
    .contect_text h1{
    right: 15%;
    top: 40px;
    
    }
    .contect_text ul{
    padding-top: 8%;
    position: absolute;
    right: 5%;
    top: 170px;
    font-size: 15px;
    
    
    }
}

/* $footer */
.footer{
    position: relative;
    height: 7vh;
    background-color: rgba(0, 0, 255, 0.9);
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer a {
    padding-left: 20px;
    color: aliceblue;
    font-size: 30px;
}